<section id="your-meat-container">
  <h2>Your Meat</h2>
    <dl class="dl-horizontal your-meat-def-list">
      <dt>Target end temp: </dt>
      <dd>{{targetEndTemp}}</dd>

      <dt>Method of cooking: </dt>
      <dd>{{methodOfCooking}}</dd>

      <dt>Heat Source Temp: </dt>
      <dd>{{heatSourceTemp}}</dd>

      <dt>Meat Mass: </dt>
      <dd>{{meatMass}}</dd>

      <dt>Meat Shape: </dt>
      <dd>{{meatShape}}</dd>

      <dt>Meat Thickness: </dt>
      <dd>{{meatThickness}}</dd>

    </dl>

  <a href="./#/cooking" class="btn btn-lg btn-success" role="button">Start Cooking</a>
</section>